%h1
  Takkatak: Rhythms for everybody

%p
  Takkatak is a project that will be worked on for
  %a{ :href => "http://musichackday.org/" }
    Music Hackday.
  
%p
  The idea is to build an easy editor for drum rhythms, both on the web and on an iPhone.

%p
  For more info, see the
  %a{ :href => "http://groups.google.co.uk/group/musichackday/web/rhythms-app-project" }
    takkatak wiki page

%p
  People working on this:
  %ul
    %li
      %a{ :href => 'http://twitter.com/tomtt' }
        @tomtt
